.WeatherReport {
    margin-top: 1em;
}

.WeatherReport-title {
    text-align: left;
    padding: 5px;
}

.DailyForecast {
    margin: 2px;
    padding: 8px;
    border: #e0e0e0 solid 1px;
    background: #f6f6f6;
}

.DailyForecast-date {
    font-size: larger;
    line-height: 80px;
    height: 80px;
}

.DailyForecast-temp {
    text-align: center;
    height: 80px;
    padding-top: 16px;
    font-size: small;
    position: relative;
}

.DailyForecast-high {
    font-weight: bold;
    padding: 4px 0;
}

.DailyForecast-low {
}

.Forecast {
    text-align: center;
}

.Forecast-time {
    text-align: center;
    color: #9c9c9c;
}

.Forecast-weather {
    text-align: center;
}
