.App {
  text-align: center;
}

.App-container {
  max-width:800px;
  margin: auto;
}

.App-input {
  margin-top: 1em;
  text-align: center;
}

.App-error-message {
  margin-top: 1em;
}

.App-loading {
  margin-top: 1em;
}


